#vote-main {
    width: 672px;
    max-width: 80vw;
    margin: auto;
}

#closed-block {
    text-align: center;
}

.paper {
    padding: 24px;
}

#chart-cover {
    width: 100%;
    height: 412px;
    max-height: 60vh;
}
