#main_home{
    text-align: center;
}

#par_queries {
    margin-top: 10vh;
    margin-bottom: 84px;
}

.paper_block {
    width: 500px;
    max-width: 80vw;
    margin: auto;
    padding: 24px;
}

.wide_paper {
    width: 1024px;
    max-width: 90vw;
    margin: auto;
    padding: 24px;
}

.info_block {
    width: 780px;
    max-width: 80vw;
    margin: auto auto 64px;
}

#next-event-block {
    border: solid 1px white;
    padding-left: 12px;
    padding-right: 12px;
}

.flexy {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.flexboom {
    flex: 1;
}

